<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Inicio de sesion
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-envelope"></i>
                        </div>
                        <input type="email" class="form-control">
                    </div>
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-key"></i>
                        </div>
                        <input type="password" class="form-control">
                    </div>
                </div>
                <div class="card-footer">
                    <input type="button" class="btn btn-primary" value="Sign In">
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>